tsconfig.json
.coveralls.yml
/src/*
!/src/**/
/src/**/*.js
!/src/**/*.ts
/src/**/*.d.ts

/test/*
!/test/**/
/test/**/*.js
!/test/**/*.ts
/test/**/*.d.ts

/demo/*
!/demo/**/
/demo/**/*.js
!/demo/**/*.ts
/demo/**/*.d.ts

!/node_modules
!/node_modules/*
!/node_modules/**/*

!/.circleci
!/.nyc_output
!/node_modules/*
!/.circleci/*
!/.nyc_output/*


/coverage